<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <style>
        body {
            color: #fff;
            background: #555;
        }
    </style>
</head>
<body>
    <h1>Hello, World!</h1>
    <p>Container Hostname: {{ hostname }}</p>
    <p>Environment Variables:</p>
    <ul>
        {% for key, value in env_vars.items() %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>
</body>
</html>
